{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
      <section id="centerbg">
        <div id="login-box">
          <div class="left">
            <h1>Login</h1>
            <form method="POST" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">Login</button>
              {% endbuttons %}
            </form>
          </div>
        </div>

      </<section>

{% endblock %}
