<!DOCTYPE html>
{%load static%}
{%load bootstrap4%}
<html>
<head>
<title>SignUp</title>
<meta name="google-signin-client_id" content="445531871837-867d00324tl6o2pckel16d1gvv3qd6ne.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect"  href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="{% static 'css/signup.css' %}" rel="stylesheet">
<link rel="stylesheet"  href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet"  href="{% static 'css/font-awesome.css'%}">
<link rel="stylesheet"  href="{% static 'css/font.css'%}">
<link rel="stylesheet"  href="{% static 'css/owl.carousel.css'%}">
<link rel="stylesheet"  href="{% static 'css/owl.theme.css'%}">
<link rel="stylesheet"  href="{% static 'css/animate.css'%}">
<link rel="stylesheet"  href="{% static 'css/slick.css'%}">
<link rel="stylesheet"  href="{% static 'css/flaticon.css'%}">
<link rel="stylesheet"  href="{% static 'css/settings.css'%}">
<link rel="stylesheet"  href="{% static 'css/style.css'%}" >
<link rel="stylesheet"  href="{% static 'css/preset.css'%}" >
<link rel="stylesheet"  href="{% static 'css/responsive.css'%}">
<style media="screen">
body{
  background-color: rgb(211,211,211);
}
</style>
</head>
<body>
  <!--HEADER START-->
  <header class="header isSticky" id="header">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-2 noPaddingLeft">
                  <div class="logo">
                      <a href="{%url 'home' %}"><img src="{%static 'images/flogo.png'%}" alt=""></a>
                  </div>
                  <div class="logo logoText hidden">
                      <h1><a href="{%url 'home' %}">Meet2u</a></h1>
                  </div>
                  <div class="stickyLogo">
                      <a href="{%url 'home' %}"><img src="{%static 'images/flogo.png'%}" alt=""></a>
                  </div>
              </div>
              <div class="col-md-8">
                  <nav class="mainMenu">
                      <div class="mobileBar">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                      <ul>
                        {% if user.is_authenticated %}
                        <li> <a href="#">Post</a> </li>
                        <li> <a href="#">Groups</a> </li>
                        <li> <a href="#">Create Grops</a> </li>
                        <li> <a href="{% url 'accounts:logout'%}">Log out🔒</a> </li>
                        {% else %}
                        <li class="scroll has-menu-items active"><a href="{%url 'home' %}">Home </li>
                        <li class="scroll"><a href="#ourwork">Groups</a></li>
                        <li class="scroll has-menu-items"><a href="">Blog</a></li>
                        <li class="scroll"><a href="{% url 'accounts:login'%}">Log-in💡</a></li>
                        <li class="scroll"><a href="{% url 'accounts:signup'%}">Sign-up🔐</a></li>
                        {% endif %}
                      </ul>
                  </nav>
              </div>
              <div class="col-md-2 hidden-sm md_class noPaddingRight">
                  <div class="callus">
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- HEADER -->
  <div class="container">
  <div id="login-box">
    <div class="left">
      <h1>Sign Up</h1>
      <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Sign Up</button>
        {% endbuttons %}
      </form>
    </div>
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      <form method="get" action="https://www.google.com">
        <button class="social-signin google" type="submit">Log in with Google</button>
    	</form>
	<form method="get" action="https://www.google.com">
    <button class="social-signin twitter" type="submit">Log in with Twitter</button>
	</form>
	<form method="get" action="https://www.google.com">
    <button class="social-signin facebook" type="submit">Log in with Facebook</button>
	</form>
  </div>
  <div class="or">OR</div>
    </div>

  </div>
  <script  src="{%static 'js/jquery.js'%}"></script>
  <script  src="{%static 'js/bootstrap.js'%}"></script>
  <script  src="{%static 'js/owl.carousel.js'%}"></script>
  <script  src="{%static 'js/slick.js'%}"></script>
  <script  src="{%static 'js/jquery.themepunch.revolution.min.js'%}"></script>
  <script  src="{%static 'js/jquery.themepunch.tools.min.js'%}"></script>
  <script  src="{%static 'js/jquery.parallax-1.1.3.js'%}"></script>
  <script  src="{%static 'js/jquery.localscroll-1.2.7-min.js'%}"></script>
  <script  src="{%static 'js/jquery.scrollTo-1.4.2-min.js'%}"></script>
  <script  src="{%static 'js/theme.js'%}"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>
